
.head{
    display: flex;
    justify-content: space-between;
    border: 1px;
    /* background-color: aliceblue; */
}
.logo {
  position: relative;
  top: 5px;
  left: 40px;
  width:100px;
  height:70px;
}
.list-items > ul{
    display:flex;
}
.list-items > ul > li {
    padding:13px 20px;
    font-size: 15px;
    list-style-type: none;  
    
    
}


.Totalbox{
   display: flex;
   position: relative;
  top: 10px;
  left: 60px;
  
}
.box{
    position: relative;
  top: 20px;
  left: 60px;
}
.search-box{
    position: relative;
  top: 20px;
  left: 20px;
}
.res-container{
    
     background-color: aliceblue;
    height: 100%;
    margin: 0;
}
.res-card{
     position: relative;
  top: 30px;
}
.search{
    width:300px;
    height:30px;
}

.card{
  
       margin:10px 50px;
   background-color: #f0f0f0;
     padding:5px;
    
    width: 215px;
   height: 84%;
  
    position: relative;
       top: 30px;
       left:15px;
         
}
.card:hover{
     cursor: pointer;
    border: 1px solid black;
}


.resimg{
    width:100%;
    height:50%;
}

.res-card{
   display: flex;
   flex-wrap: wrap;
}


.shimmer-container{
    display: flex;
    flex-wrap:wrap;
}
.shimmer-cards{
  margin:10px 50px;
   background-color: #f0f0f0;
     padding:5px;
    
    width: 215px;
    height: 330px;
   
  
    position: relative;
       top: 30px;
       left:15px;
}
.menu-card{
            width: 60%;
            margin: 0 auto; 
            padding-left: 1%;
            padding-right: 1%;
            
}
.menu-card > ul > li{
  
   list-style-type: none;
}
hr {
  border: none; /* Remove the default border */
  height: 2px; /* Set the height of the line */
  background-color: #333; /* Set the color of the line */
  margin: 20px 0; /* Add some spacing above and below the line */
}
.nav-bar-routes{
  text-decoration: none;
  color:black ;
}
.link-res-card{
  text-decoration: none;
  color:black ;
}

